{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a sample spec for our REST API",
    "version" : "v1",
    "title" : "Swagger spec for our REST API"
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic",
      "description": "HTTP Basic Authentication."
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "host" : "gateway.watsonplatform.net",
  "basePath" : "/conversation/api",
  "tags" : [ {
    "name" : "Message"
  }, {
    "name" : "Workspaces"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/workspaces" : {
      "get" : {
        "tags" : [ "Workspaces" ],
        "summary" : "List workspaces",
        "description" : "",
        "operationId" : "v1WorkspacesGet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "version",
          "in" : "query",
          "description" : "Release date of the API version in YYYY-MM-DD format.",
          "required" : true,
          "type" : "string",
          "default" : "2016-09-20"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceCollectionResponse"
            }
          },
          "400" : {
            "description" : "Invalid request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceCollectionResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Workspaces" ],
        "summary" : "Create workspace",
        "description" : "",
        "operationId" : "v1WorkspacesPost",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "version",
          "in" : "query",
          "description" : "Release date of the API version in YYYY-MM-DD format.",
          "required" : true,
          "type" : "string",
          "default" : "2016-09-20"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Valid JSON data defining the content of the new workspace.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateWorkspace"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceResponse"
            }
          },
          "201" : {
            "description" : "Successful request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceResponse"
            }
          },
          "400" : {
            "description" : "Invalid request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceResponse"
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}" : {
      "get" : {
        "tags" : [ "Workspaces" ],
        "summary" : "Get workspace",
        "description" : "",
        "operationId" : "v1WorkspacesWorkspaceIdGet",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "description" : "The workspace ID.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Release date of the API version in YYYY-MM-DD format.",
          "required" : true,
          "type" : "string",
          "default" : "2016-09-20"
        }, {
          "name" : "export",
          "in" : "query",
          "description" : "Whether to include all workspace content (such as intents, entities, and dialog nodes) in the exported data. If export=false, the exported data includes only information about the workspace itself (such as the workspace name, description, language, and workspace ID).",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceExportResponse"
            }
          },
          "400" : {
            "description" : "Invalid request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceExportResponse"
            }
          },
          "404" : {
            "description" : "Not Found",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceExportResponse"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Workspaces" ],
        "summary" : "Update workspace",
        "description" : "",
        "operationId" : "v1WorkspacesWorkspaceIdPost",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "description" : "The workspace ID.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Release date of the API version in YYYY-MM-DD format.",
          "required" : true,
          "type" : "string",
          "default" : "2016-09-20"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Valid JSON data defining the new workspace content. Any elements included in the new JSON will completely replace the existing elements, including all subelements. Previously existing subelements are not retained unless they are included in the new JSON.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateWorkspace"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceResponse"
            }
          },
          "400" : {
            "description" : "Invalid request",
            "schema" : {
              "$ref" : "#/definitions/WorkspaceResponse"
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/message" : {
      "post" : {
        "tags" : [ "Message" ],
        "summary" : "Get a response to a user's input",
        "description" : "",
        "operationId" : "v1WorkspacesWorkspaceIdMessagePost",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workspace_id",
          "in" : "path",
          "description" : "Unique identifier of the workspace.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "query",
          "description" : "Release date of the API version in YYYY-MM-DD format.",
          "required" : true,
          "type" : "string",
          "default" : "2016-09-20"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The user's input, with optional intents, entities, and other properties from the response.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/MessageRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful request",
            "schema" : {
              "$ref" : "#/definitions/MessageResponse"
            }
          },
          "400" : {
            "description" : "Invalid request",
            "schema" : {
              "$ref" : "#/definitions/MessageResponse"
            }
          },
          "404" : {
            "description" : "Resource not found",
            "schema" : {
              "$ref" : "#/definitions/MessageResponse"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Context" : {
      "type" : "object",
      "properties" : {
        "conversation_id" : {
          "type" : "string"
        },
        "system" : {
          "$ref" : "#/definitions/SystemResponse"
        }
      }
    },
    "CreateDialogNode" : {
      "type" : "object",
      "required" : [ "dialog_node" ],
      "properties" : {
        "dialog_node" : {
          "type" : "string",
          "description" : "The dialog node ID."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the dialog node."
        },
        "conditions" : {
          "type" : "string",
          "description" : "The condition that will trigger the dialog node."
        },
        "parent" : {
          "type" : "string",
          "description" : "The parent dialog node."
        },
        "previous_sibling" : {
          "type" : "string",
          "description" : "The previous dialog node."
        },
        "output" : {
          "$ref" : "#/definitions/DialogNodeOutput"
        },
        "context" : {
          "type" : "object",
          "description" : "The context for the dialog node."
        },
        "metadata" : {
          "type" : "object",
          "description" : "The metadata for the dialog node."
        },
        "go_to" : {
          "$ref" : "#/definitions/DialogNodeGoTo"
        }
      }
    },
    "CreateEntity" : {
      "type" : "object",
      "required" : [ "entity" ],
      "properties" : {
        "entity" : {
          "type" : "string",
          "description" : "The name of the entity."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the entity."
        },
        "type" : {
          "type" : "string",
          "description" : "Reserved for future use."
        },
        "source" : {
          "type" : "string",
          "description" : "The source of the entity. For system entities, `system.entities` is returned."
        },
        "open_list" : {
          "type" : "boolean",
          "description" : "Reserved for future use.",
          "default" : false
        },
        "values" : {
          "type" : "array",
          "description" : "An array of entity values.",
          "items" : {
            "$ref" : "#/definitions/CreateValue"
          }
        }
      }
    },
    "CreateExample" : {
      "type" : "object",
      "required" : [ "text" ],
      "properties" : {
        "text" : {
          "type" : "string",
          "description" : "An example for an intent."
        }
      }
    },
    "CreateIntent" : {
      "type" : "object",
      "required" : [ "intent" ],
      "properties" : {
        "intent" : {
          "type" : "string",
          "description" : "The name of the intent."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the intent."
        },
        "examples" : {
          "type" : "array",
          "description" : "An array of examples.",
          "items" : {
            "$ref" : "#/definitions/CreateExample"
          }
        }
      }
    },
    "CreateValue" : {
      "type" : "object",
      "required" : [ "value" ],
      "properties" : {
        "value" : {
          "type" : "string",
          "description" : "The text of the entity value."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Any metadata related to the entity value."
        },
        "synonyms" : {
          "type" : "array",
          "description" : "Any array of synonyms for the entity value.",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "CreateWorkspace" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The name of the workspace."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the workspace."
        },
        "language" : {
          "type" : "string",
          "description" : "The language of the workspace."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Any metadata that is required by the workspace."
        },
        "intents" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateIntent"
          }
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateEntity"
          }
        },
        "dialog_nodes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateDialogNode"
          }
        },
        "counterexamples" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateExample"
          }
        }
      }
    },
    "DialogNodeGoTo" : {
      "type" : "object",
      "properties" : {
        "dialog_node" : {
          "type" : "string",
          "description" : "The ID of the dialog node to go to."
        },
        "selector" : {
          "type" : "string",
          "description" : "Where in the target node focus is passed to."
        },
        "return" : {
          "type" : "boolean",
          "description" : "Reserved for future use.",
          "default" : false
        }
      }
    },
    "DialogNodeOutput" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string",
          "description" : "The output text of the dialog node."
        }
      }
    },
    "DialogNodeResponse" : {
      "type" : "object",
      "required" : [ "conditions", "context", "created", "description", "dialog_node", "go_to", "metadata", "output", "parent", "previous_sibling" ],
      "properties" : {
        "dialog_node" : {
          "type" : "string",
          "description" : "The dialog node ID."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the dialog node."
        },
        "conditions" : {
          "type" : "string",
          "description" : "The condition that will trigger the dialog node."
        },
        "parent" : {
          "type" : "string",
          "description" : "The parent dialog node."
        },
        "previous_sibling" : {
          "type" : "string",
          "description" : "The previous dialog node."
        },
        "output" : {
          "$ref" : "#/definitions/DialogNodeOutput"
        },
        "context" : {
          "type" : "object",
          "description" : "The context for the dialog node."
        },
        "metadata" : {
          "type" : "object",
          "description" : "The metadata for the dialog node."
        },
        "go_to" : {
          "$ref" : "#/definitions/DialogNodeGoTo"
        },
        "created" : {
          "type" : "string",
          "description" : "The timestamp for creation of the dialog node."
        }
      }
    },
    "DialogStack" : {
      "type" : "object",
      "properties" : {
        "dialog_node" : {
          "type" : "string",
          "description" : "The dialog node ID."
        }
      }
    },
    "EntityExportResponse" : {
      "type" : "object",
      "required" : [ "created", "description", "entity", "open_list", "source", "type", "updated" ],
      "properties" : {
        "entity" : {
          "type" : "string",
          "description" : "The name of the entity."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the entity."
        },
        "type" : {
          "type" : "string",
          "description" : "Reserved for future use."
        },
        "source" : {
          "type" : "string",
          "description" : "The source of the entity. For system entities, `system.entities` is returned."
        },
        "open_list" : {
          "type" : "boolean",
          "description" : "Reserved for future use.",
          "default" : false
        },
        "created" : {
          "type" : "string",
          "description" : "The timestamp for creation of the entity."
        },
        "updated" : {
          "type" : "string",
          "description" : "The timestamp for the last update to the entity."
        },
        "values" : {
          "type" : "array",
          "description" : "An array of entity values.",
          "items" : {
            "$ref" : "#/definitions/ValueExportResponse"
          }
        }
      }
    },
    "ExampleResponse" : {
      "type" : "object",
      "required" : [ "created", "text", "updated" ],
      "properties" : {
        "created" : {
          "type" : "string",
          "description" : "The timestamp for creation of the example."
        },
        "updated" : {
          "type" : "string",
          "description" : "The timestamp for the last update to the example."
        },
        "text" : {
          "type" : "string",
          "description" : "The text of the example."
        }
      }
    },
    "InputData" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string",
          "description" : "The user's input."
        }
      }
    },
    "Intent" : {
      "type" : "object",
      "properties" : {
        "intent" : {
          "type" : "string",
          "description" : "The name of the recognized intent."
        },
        "confidence" : {
          "type" : "number",
          "format" : "double",
          "description" : "A decimal percentage that represents Watson's confidence in the intent."
        }
      },
      "description" : "An array of intent-confidence pairs for the user input."
    },
    "IntentExportResponse" : {
      "type" : "object",
      "required" : [ "created", "description", "intent", "updated" ],
      "properties" : {
        "intent" : {
          "type" : "string",
          "description" : "The name of the intent."
        },
        "description" : {
          "type" : "string",
          "description" : "The description for the intent."
        },
        "created" : {
          "type" : "string",
          "description" : "The timestamp for creation of the intent."
        },
        "updated" : {
          "type" : "string",
          "description" : "The timestamp for the last update to the intent."
        },
        "examples" : {
          "type" : "array",
          "description" : "An array of Examples collection.",
          "items" : {
            "$ref" : "#/definitions/ExampleResponse"
          }
        }
      }
    },
    "LogMessageResponse" : {
      "type" : "object",
      "properties" : {
        "level" : {
          "type" : "string",
          "description" : "The severity of the message.",
          "enum" : [ "INFO", "ERROR", "WARN" ]
        },
        "msg" : {
          "type" : "string",
          "description" : "The text of the message."
        }
      },
      "description" : "Log message details."
    },
    "MessageRequest" : {
      "type" : "object",
      "required" : [ "input" ],
      "properties" : {
        "input" : {
          "$ref" : "#/definitions/InputData"
        },
        "alternate_intents" : {
          "type" : "boolean",
          "description" : "Whether to return more than one intent. Set to `true` to return all matching intents.",
          "default" : false
        },
        "context" : {
          "$ref" : "#/definitions/Context"
        },
        "entities" : {
          "type" : "array",
          "description" : "Include the entities from the previous response when they do not need to change and to prevent Watson from trying to identify them.",
          "items" : {
            "$ref" : "#/definitions/RuntimeEntity"
          }
        },
        "intents" : {
          "type" : "array",
          "description" : "Include the intents from the previous response when they do not need to change and to prevent Watson from trying to identify them.",
          "items" : {
            "$ref" : "#/definitions/Intent"
          }
        },
        "output" : {
          "$ref" : "#/definitions/OutputData"
        }
      }
    },
    "MessageResponse" : {
      "type" : "object",
      "required" : [ "context", "entities", "input", "intents", "output" ],
      "properties" : {
        "input" : {
          "description" : "User's input from the request.",
          "$ref" : "#/definitions/InputData"
        },
        "context" : {
          "description" : "State information for the conversation.",
          "$ref" : "#/definitions/Context"
        },
        "entities" : {
          "type" : "array",
          "description" : "Terms from the request that are identified as entities.",
          "items" : {
            "$ref" : "#/definitions/RuntimeEntity"
          }
        },
        "intents" : {
          "type" : "array",
          "description" : "Terms from the request that are identified as intents.",
          "items" : {
            "$ref" : "#/definitions/Intent"
          }
        },
        "output" : {
          "description" : "Includes the response to the user, the nodes that were hit, and messages from the log.",
          "$ref" : "#/definitions/OutputData"
        }
      }
    },
    "OutputData" : {
      "type" : "object",
      "required" : [ "log_messages", "text" ],
      "properties" : {
        "log_messages" : {
          "type" : "array",
          "description" : "Up to 50 messages logged with the request.",
          "items" : {
            "$ref" : "#/definitions/LogMessageResponse"
          }
        },
        "text" : {
          "type" : "array",
          "description" : "Responses to the user.",
          "items" : {
            "type" : "string"
          }
        },
        "nodes_visited" : {
          "type" : "array",
          "description" : "The nodes that were executed to create the response.",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "RuntimeEntity" : {
      "type" : "object",
      "properties" : {
        "entity" : {
          "type" : "string",
          "description" : "The recognized entity from a term in the input."
        },
        "location" : {
          "type" : "array",
          "description" : "Zero-based character offsets that indicate where the entity value begins and ends in the input text.",
          "items" : {
            "type" : "integer",
            "format" : "int32"
          },
          "maxItems" : 2,
          "minItems" : 2
        },
        "value" : {
          "type" : "string",
          "description" : "The term in the input text that was recognized."
        }
      }
    },
    "SystemResponse" : {
      "type" : "object",
      "required" : [ "dialog_request_counter", "dialog_stack", "dialog_turn_counter" ],
      "properties" : {
        "dialog_stack" : {
          "type" : "array",
          "description" : "An array of dialog node IDs that are in focus in the conversation",
          "items" : {
            "$ref" : "#/definitions/DialogStack"
          }
        },
        "dialog_turn_counter" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of cycles of user input and response in this conversation."
        },
        "dialog_request_counter" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of inputs in this conversation. This counter might be higher than the <tt>dialog_turn_counter</tt> counter when multiple inputs are needed before a response can be returned."
        }
      }
    },
    "UpdateWorkspace" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The name of the workspace."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the workspace."
        },
        "language" : {
          "type" : "string",
          "description" : "The language of the workspace."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Any metadata that is required by the workspace."
        },
        "intents" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateIntent"
          }
        },
        "entities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateEntity"
          }
        },
        "dialog_nodes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateDialogNode"
          }
        },
        "counterexamples" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CreateExample"
          }
        }
      }
    },
    "ValueExportResponse" : {
      "type" : "object",
      "required" : [ "created", "metadata", "updated", "value" ],
      "properties" : {
        "value" : {
          "type" : "string",
          "description" : "The name of the corresponding entity."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Any metadata related to the entity value."
        },
        "created" : {
          "type" : "string",
          "description" : "The timestamp for creation of the entity value."
        },
        "updated" : {
          "type" : "string",
          "description" : "The timestamp for the last update to the entity value."
        },
        "synonyms" : {
          "type" : "array",
          "description" : "An array of synonyms.",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "WorkspaceCollectionResponse" : {
      "type" : "object",
      "required" : [ "workspaces" ],
      "properties" : {
        "workspaces" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/WorkspaceResponse"
          }
        }
      }
    },
    "WorkspaceExportResponse" : {
      "type" : "object",
      "required" : [ "created", "description", "language", "metadata", "name", "updated", "workspace_id" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The name of the workspace."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the workspace."
        },
        "language" : {
          "type" : "string",
          "description" : "The language of the workspace."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Any metadata that is required by the workspace."
        },
        "created" : {
          "type" : "string",
          "description" : "The timestamp for creation of the workspace."
        },
        "updated" : {
          "type" : "string",
          "description" : "The timestamp for the last update to the workspace."
        },
        "workspace_id" : {
          "type" : "string",
          "description" : "The workspace ID."
        },
        "intents" : {
          "type" : "array",
          "description" : "An array of Intent collection.",
          "items" : {
            "$ref" : "#/definitions/IntentExportResponse"
          }
        },
        "entities" : {
          "type" : "array",
          "description" : "An array of Entity collections.",
          "items" : {
            "$ref" : "#/definitions/EntityExportResponse"
          }
        },
        "counterexamples" : {
          "type" : "array",
          "description" : "An array of CounterExample collection.",
          "items" : {
            "$ref" : "#/definitions/ExampleResponse"
          }
        },
        "dialog_nodes" : {
          "type" : "array",
          "description" : "An array of dialog nodes.",
          "items" : {
            "$ref" : "#/definitions/DialogNodeResponse"
          }
        }
      }
    },
    "WorkspaceResponse" : {
      "type" : "object",
      "required" : [ "created", "description", "language", "metadata", "name", "updated", "workspace_id" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "description" : "The name of the workspace."
        },
        "description" : {
          "type" : "string",
          "description" : "The description of the workspace."
        },
        "language" : {
          "type" : "string",
          "description" : "The language of the workspace."
        },
        "metadata" : {
          "type" : "object",
          "description" : "Any metadata that is required by the workspace."
        },
        "created" : {
          "type" : "string",
          "description" : "The timestamp for creation of the workspace."
        },
        "updated" : {
          "type" : "string",
          "description" : "The timestamp for the last update to the workspace."
        },
        "workspace_id" : {
          "type" : "string",
          "description" : "The workspace ID."
        }
      }
    }
  }
}